div.Img {
    width: 30%;
}

img.Spotify-Img {
    height: 5em;
}

div.Block {
    display: inline-block;
    margin: .3em;
}

div.Search-Result {
    width: 80%;
    margin: auto;
    text-align: left;
    border-bottom: 2px solid #000
}

div.Info {
    vertical-align: text-bottom;
    text-align: left;
    width: 50%;
    padding: 3% 0;
}

div.Submit {
    line-height: 5em;
    vertical-align: bottom;
}

button.Button-Link {
    color: blue;
    border: none;
    padding: 0!important;
    font: inherit;
    border-bottom: 1px solid blue;
    cursor: pointer;
    margin: .75em;
}